@import url("./colors.css");

* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font", sans-serif;
}

.bar {
  background-color: @base00;
  color: @base05;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid @base05;
}

.start {
  padding-left: 40px;
}

.end {
  padding-right: 40px;
}

.worspaces {
  margin: 0 20px;
  padding: 0 20px;
}

.workspace-icon {
  background-color: @base03;
  min-width: 10px; 
  min-height: 10px;
  border-radius: 2px;
  transition: all 1000ms ease-in;
}

.workspace-icon.occupied {
  background-color: @base06;
}

.workspace-icon.focused {
  min-width: 8px; 
  min-height: 8px;
  transition: all 1000ms ease-in;
  background-color: @base08;
} 

.clock {
  background-color: @base05;
  color: @base00;
  font-size: 16px;
  font-family: "v_CCWildWordsLower", "Cattie";
  margin: 3px;
  padding: 0 50px;
  border-radius: 10px;
}

.icons {
  background-color: @base05;
  color: @base00;
  border-radius: 4px;
  font-size: 14px;
  min-width: 16px;
  min-height: 16px;
  font-family: "Ubuntu Mono";
}

.battery-icon {
  min-width: 14px;
  min-height: 14px;
  font-size: 2px;
}

.battery-icon.charging {
  color: @base0B;
}

.icons-box {
  background-color: @base05;
  color: @base00;
  padding: 4px 8px;
  border-radius: 4px;
}
