* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font", sans-serif;
}

.bar {
  background-color: #fff8d0;
  color: #231F20;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #654146;
}

.start {
  padding-left: 40px;
}

.end {
  padding-right: 40px;
}

.worspaces {
  margin: 0 20px;
  padding: 0 20px;
}

.workspace-icon {
  background-color: #C5A88F;
  min-width: 10px; 
  min-height: 10px;
  border-radius: 2px;
  transition: all 1000ms ease-in;
}

.workspace-icon.occupied {
  background-color: #625951;
}

.workspace-icon.focused {
  min-width: 8px; 
  min-height: 8px;
  transition: all 1000ms ease-in;
  background-color: #E86868;
} 

.clock {
  background-color: #625951;
  color: #fff8d0;
  font-size: 16px;
  font-family: "v_CCWildWordsLower", "Cattie";
  margin: 3px;
  padding: 0 50px;
  border-radius: 10px;
}

.icons {
  background-color: #625951;
  color: #fff8d0;
  border-radius: 2px;
  font-size: 14px;
  min-width: 20px;
  min-height: 20px;
  font-family: "Ubuntu Mono";
}

.battery-icon {
  min-width: 14px;
  min-height: 14px;
  font-size: 2px;
}

.battery-icon.charging {
  color: #8CFF80;
}

.icons-box {
  background-color: #625951;
  color: #fff8d0;
  padding: 2px 10px;
  border-radius: 8px;
}
